<div class="game-analysis-container hidden" id="game-analysis-container">
    <!-- These buttons are hidden and control board analysis -->
    <div class="move-list" id="move-list" style="display: none;">
    </div>
    <div class="move-list-buttons-container" style="display: none;">
        <div class="move-list-button" id="analysis-init">
            <<
        </div>
        <div class="move-list-button" id="analysis-backward">
            <
        </div>
        <div class="move-list-button" id="analysis-forward">
            >
        </div>
        <div class="move-list-button" id="analysis-end">
            >>
        </div>
    </div>

    <!-- These buttons advance story in addition to game -->
    <div class="move-list-buttons-container">
        <div class="move-list-button-2" id="analysis-init-2">
            <<
        </div>
        <div class="move-list-button-2" id="analysis-backward-2">
            <
        </div>
        <div class="move-list-button-2" id="analysis-forward-2">
            >
        </div>
        <div class="move-list-button-2" id="analysis-end-2">
            >>
        </div>
    </div>
</div>

<script
    data-highlights="{{ highlights }}"
    data-gameid="{{ game_id }}"
>
    function updateTutorial(prevId, currId){
        const prevDiv = document.getElementById('tutorial-' + String(prevId));
        prevDiv.classList.add('hidden');
        const nextDiv = document.getElementById('tutorial-' + String(currId));
        nextDiv.classList.remove('hidden');

        // Reset highlights
        for(const element of board.children)
            element.classList.remove('highlighted');

        // Highlight square/fences
        if (highlightsDict[currId] !== undefined) {
            const hightlightsSplit = highlightsDict[currId].split('-');
            for (const v of hightlightsSplit) {
                if (v.length == 2) { // Square
                    const row = String(parseInt(v[1]) - 1);
                    const col = String(v.charCodeAt(0) - 65);

                    const targetSquareId = 's' + '-' + row + '-' + col;
                    const targetSquare = board.querySelector('[square-id=' + targetSquareId + ']');
                    //console.log(targetSquareId, targetSquare)
                    targetSquare.classList.add('highlighted');
                } else { // Fence
                    const row = String(parseInt(v[1]) - 1);
                    const col = String(v.charCodeAt(0) - 65);
                    const wallType = v[2];
                    const subwallId = wallType + '-' + row + '-' + col + '-' + 'true';
                    const subwall = board.querySelector('[subwall-id=' + subwallId + ']');
                    const highlightFenceEvent = new Event('highlightFenceEvent');
                    subwall.dispatchEvent(highlightFenceEvent);
                }
            }
        }
    }

    function convertHighlightsToDict(highlights) {
          const regex = /(\d+)\.[\s]*([^\s]+(-\w+)*[\s]*[^\s]+(-\w+)*)/g;
          //const regex = /(\d+)\.[\s]*(([^\s])*)/g;
          // const regex = /(\d+)\.\s_?\s?([^\s]+(?:\s\w+-\w+)?)/g;
          let match;
          const result = {};

          while ((match = regex.exec(highlights)) !== null) {
            const key = parseInt(match[1], 10) - 1;
            const values = match[2].split(' ');
            if (values.length === 1)
                //result[key] = ['', values[0]]
                result[key*2] = values[0]
            else {
                if (values[0] !== '_')
                    result[key * 2] = values[0];
                if (values[1] !== '_')
                    result[key * 2 + 1] = values[1];
            }
          }
          //console.log('Input', highlights, 'Res', result);
          return result;
        }

    // Create highlights dict
    const highlights = document.currentScript.dataset.highlights;
    const highlightsDict = convertHighlightsToDict(highlights);
    const gameId = document.currentScript.dataset.gameid;
    const board = document.getElementById('board-'+gameId);

    // Tutorial slides
    var tutorialId = 0;
    const total = document.querySelectorAll("div[id^='tutorial']").length;

    // Init story
    function init(){
        const prevId = tutorialId;
        tutorialId = 0;
        updateTutorial(prevId, tutorialId);
    }

    // Forward story
    function next(){
        if (tutorialId < total - 1) {
            tutorialId += 1;
            updateTutorial(tutorialId - 1, tutorialId);
        }
    }

    // Backward story
    function prev(){
        if (tutorialId > 0) {
            tutorialId -= 1;
            updateTutorial(tutorialId + 1, tutorialId);
        }
    }

    // End story
    function end() {
        const prevId = tutorialId;
        tutorialId = total - 1;
        updateTutorial(prevId, tutorialId);
    }

    // Set up buttons
    const analysisInit = document.getElementById('analysis-init-2');
    analysisInit.addEventListener('click', function (event){
        document.getElementById('analysis-init').click();
        // Init story
        init();
    });

    const analysisForward = document.getElementById('analysis-forward-2');
    analysisForward.addEventListener('click', function (event){
        document.getElementById('analysis-forward').click();
        next();
    });

    const analysisBackward = document.getElementById('analysis-backward-2');
    analysisBackward.addEventListener('click',  function (event){
        document.getElementById('analysis-backward').click();
        prev();
    });

    const analysisEnd = document.getElementById('analysis-end-2');
    analysisEnd.addEventListener('click', function (event){
        document.getElementById('analysis-end').click();
        end();
    });
    //analysisInit.click();

    document.addEventListener('keydown', function (e){
        e = e || window.event;

        if (e.keyCode == '38')// up arrow
            end();
        else if (e.keyCode == '40')// down arrow
            init();
        else if (e.keyCode == '37') // left arrow
            prev();
        else if (e.keyCode == '39') // right arrow
            next();
    });

    window.onload = function() {
        console.log('B', board)
        init();
    };


</script>