<div class="game-analysis-container hidden" id="game-analysis-container">
    <!-- These buttons are hidden and control board analysis -->
    <div class="move-list" id="move-list" style="display: none;">
    </div>
    <div class="move-list-buttons-container" style="display: none;">
        <div class="move-list-button" id="analysis-init">
            <<
        </div>
        <div class="move-list-button" id="analysis-backward">
            <
        </div>
        <div class="move-list-button" id="analysis-forward">
            >
        </div>
        <div class="move-list-button" id="analysis-end">
            >>
        </div>
    </div>

    <!-- These buttons advance story in addition to game -->
    <div class="move-list-buttons-container">
        <div class="move-list-button-2" id="analysis-init-2">
            <<
        </div>
        <div class="move-list-button-2" id="analysis-backward-2">
            <
        </div>
        <div class="move-list-button-2" id="analysis-forward-2">
            >
        </div>
        <div class="move-list-button-2" id="analysis-end-2">
            >>
        </div>
    </div>
</div>