{% extends "base_generic.html" %}

{% block title %}
  <title>Sign up</title>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %} <!-- pip install django-crispy-forms, crispy-bootstrap4-->

<script src="https://accounts.google.com/gsi/client" async></script>

<!--Register-->
<div class="login-container">
	<form method="POST">
		{% csrf_token %}
		{{ register_form | crispy }}  <!-- | crispy -->

        <br>
		<button class="btn btn-primary" type="submit">Sign up</button>
	</form>
	<!-- <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p> -->
</div>

{% if show_auth %}
	<br>
	<div id="g_id_onload"
		data-client_id="47817519507-pl0tgbv1re0trg5855s2o6nva6fqef16.apps.googleusercontent.com"
		data-context="signin"
		data-ux_mode="popup"
		data-login_uri="{% url 'register:auth-receiver' %}"
		data-auto_prompt="false">
	</div>

	<div style="display: flex; justify-content: center; align-items: center;">
		<div class="g_id_signin"
			data-type="standard"
			data-shape="rectangular"
			data-theme="outline"
			data-text="signin"
			data-size="large"
			data-logo_alignment="left">
		</div>
	</div>
	<br>
{% endif %}

{% endblock %}