{% load static %}
{% load games_tags %}

<div class="game-description">
    {% flip_board game player.username as flip_board_flag %}
    <!-- <p class="date"> {{game.game_time}} </p> -->

    <div class="player-bar top-borders" id="bar-{{ocolor}}">
        <span class="player-info" id="player-{{ocolor}}">
            <span class="dot {{ocolor}}"></span>
                {% if opponent.username == '' or opponent.username.lower == 'anonymous' %}
                <a class='user'>
                {% else %}
                <a class='user' href="{% url 'profile:show_profile' opponent.username %}">
                {% endif %}
                    {% if opponent.user.userdetails.bot %}
                        <span class="bot-text">
                            <b> BOT </b>
                        </span>
                    {% endif %}
                    <span class="white-text">
                        <b>{%trim_string opponent.username %}</b>
                        ({% convert2int opponent.rating %})
                    </span>
                </a>
            <span id="{{ocolor}}_delta_rating"> {% rating_delta opponent.delta_rating %} </span>
            <span id="turn_{{ocolor}}"> </span>
        </span>
        <span class="walls-left white-text">
            <span class="dot {%get_online_status opponent %}"></span>
            <span id="walls_{{ocolor}}"> walls </span>
        </span>
    </div>

    {% if flip_board %}
    <div class="board rotated" id="board-{{game.game_id}}">
    {% else %}
    <div class="board" id="board-{{game.game_id}}">
    {% endif %}
        <!-- Add HTML elements for the board squares and pieces -->
        <!-- <script type="module" src="{% static 'game/js/load_board.js' %}"></script> -->
        <script type="module"
                src="{% static 'game/js/load_board.js' %}"
                data-fen="{{ game.FEN }}"
                data-gameid="{{ game.game_id }}"
                data-opponentusername="{{ opponent.username }}"
                data-pcolor="{{ pcolor }}"
                data-ocolor="{{ ocolor }}"
                data-playercolor="{{ player_color }}"
                data-playerusername="{{ player.username }}"
                data-timeend="{{ time_end }}"
        ></script>
    </div>

    <div class="player-bar bottom-borders" id="bar-{{pcolor}}">
        <span class="player-info" id="player-{{pcolor}}">
            <span class="dot {{ pcolor }}"></span>
            {% if player.username == '' or player.username.lower == 'anonymous' %}
            <a class="user">
            {% else %}
            <a class="user" href="{% url 'profile:show_profile' player.username %}">
            {% endif %}
                {% if player.user.userdetails.bot %}
                    <span class="bot-text">
                        <b> BOT </b>
                    </span>
                {% endif %}
                <span class="white-text">
                    <b>{%trim_string player.username %}</b>
                    ({% convert2int player.rating%})
                </span>
            </a>
            <span id="{{pcolor}}_delta_rating"> {% rating_delta player.delta_rating %} </span>
            <span id="turn_{{pcolor}}"> </span>
        </span>
        <span class="walls-left white-text">
            <span class="dot {%get_online_status player %}"></span>
            <span id="walls_{{pcolor}}"> walls </span>
        </span>
    </div>
</div>