{% load static %}
{% load games_tags %}
{% get_username opponent as opponent_username %}

<div class="game-description">
    {% flip_board game player.username as flip_board_flag %}
    <!-- <p class="date"> {{game.game_time}} </p> -->

    <div class="player-bar top-borders small-font" id="bar-{{opponent.username}}-{{ game.game_id }}">
        <span class="player-info" id="player-{{opponent.username}}-{{ game.game_id }}">
            <span class="dot {{ ocolor }}"></span>
            {% if opponent.user.userdetails.bot %}
                <span class="bot-text">
                    <b> BOT </b>
                </span>
            {% endif %}

            {% if opponent.username == '' or opponent.username.lower == 'anonymous' %}
                <a class="user">
            {% else %}
                <a class="user" href="{% url 'profile:show_profile' opponent_username %}">
            {% endif %}
                <span class="white-text">
                    <b>{%trim_string opponent.username %}</b>
                    <span class="small-font">
                        ({% player_rating opponent %})
                    </span>
                </span>
            </a>
            <span id="{{opponent.username}}_delta_rating-{{game.game_id}}" class="smaller-font"> {% rating_delta opponent.delta_rating %} </span>
            <span id="turn_{{opponent.username}}-{{ game.game_id }}" class="smaller-font"> </span>
        </span>
        <span class="walls-left white-text">
            <span class="dot {%get_online_status opponent%}"></span>
            <span id="walls_{{opponent.username}}-{{ game.game_id }}"> walls </span>
        </span>

    </div>

    {% if flip_board_flag %}
    <div id="board-{{ game.game_id }}" class="board-preview rotated">
    {% else %}
    <div id="board-{{ game.game_id }}" class="board-preview">
    {% endif %}
        <script defer src="{% static 'game/js/load_static_board.js' %}"
                data-fen="{{game.FEN}}"
                data-gameid="{{game.game_id}}"
                data-opponentusername="{{ opponent.username }}"
                data-playercolor="{%get_player_color game player %}"
                data-playerusername="{{player.username}}"
        ></script> <!--- safely passing arguments to JS --->
    </div>

    <div class="player-bar bottom-borders small-font" id="bar-{{player.username}}-{{ game.game_id }}">
        <span class="player-info" id="player-{{player.username}}-{{ game.game_id }}">
            <span class="dot {{ pcolor }}"></span>
            {% if player.user.userdetails.bot %}
                <span class="bot-text">
                    <b> BOT </b>
                </span>
            {% endif %}
            {% if player.username == '' or player.username.lower == 'anonymous' %}
                <a class="user">
            {% else %}
                <a class="user" href="{% url 'profile:show_profile' player.username %}">
            {% endif %}
                <span class="white-text">
                    <b>{%trim_string player.username %}</b>
                    ({% player_rating player%})
                </span>
            </a>
            <span id="{{player.username}}_delta_rating-{{game.game_id}}" class="smaller-font"> {% rating_delta player.delta_rating %} </span>
            <span id="turn_{{player.username}}-{{ game.game_id }}" class="smaller-font"> </span>
        </span>
        <span class="walls-left white-text">
            <span class="dot {%get_online_status player %}"></span>
            <span id="walls_{{player.username}}-{{ game.game_id }}"> walls </span>
        </span>
    </div>
</div>