{% extends "base_generic.html" %}
<!-- Ref: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->
{% load crispy_forms_tags %} <!-- pip install django-crispy-forms, crispy-bootstrap4-->

{% block title %}
  <title> Confirm password reset </title>
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="login-container">
            <p>Please enter your new password</p>
            <form action="" method="post">
            {% csrf_token %}
                {{ form | crispy }}

                <br>
                <button class="btn btn-primary" type="submit">Change my password</button>


            </form>
        </div>
    {% else %}
        <div class="alert alert-danger">
            Password reset failed. The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </div>
    {% endif %}
{% endblock %}


