{% extends "base_generic.html" %}
{% load crispy_forms_tags %} <!-- pip install django-crispy-forms, crispy-bootstrap4-->
<!-- Ref: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
<div class="login-container">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      Email: <span> {{ form.email }}</span>

      <br><br>
      <input type="submit" class="btn btn-primary" value="Reset password"> <!-- class="btn btn-default btn-lg"  -->
  </form>
</div>
{% endblock %}


