<div class="sub-container">
    {% if active_game_exists %}
    <div class='displayed-game' id="game-{{ active_game.game_id }}">
        <div class="title">
            Active game
        </div>
        {% include "game/include/static_game.html" with game=active_game player=active_game_player opponent=active_game_opponent player_username=active_game_player_username opponent_username=active_game_opponent_username %}
    </div>
    {% else %}
        <div class="title">
            Send challenge
        </div>
        <form onsubmit="sendChallenge('manual'); return false;" method="post">
            {% csrf_token %}
            <fieldset>
                <br>
                
                <div class="center">
                    <b>Opponent</b>
                    <input type="text" id="manual-challenged_username" name="challenged_username" value=""><br>
                </div>
                <br>

                <div class="center">
                    <b>Time control</b>
                    <fieldset>
                        <label> </label>
                        <select name="time" id="manual-time">
                        <option value="1">1 min</option>
                        <option value="3">3 min</option>
                        <option value="5" selected="selected">5 min</option>
                        <option value="10">10 min</option>
                        <option value="25">25 min</option>
                        </select>

                        <label> + </label>
                        <select name="increment" id="manual-increment">
                        <option value="0">0 sec</option>
                        <option value="1">1 sec</option>
                        <option value="3" selected="selected">3 sec</option>
                        <option value="5">5 sec</option>
                        <option value="10">10 sec</option>
                        </select>
                    </fieldset>
                </div>
            </fieldset>
            <br>
            <div class="center" id="manual-challenge-box">
                <!-- <input type="submit" value="Send challenge"> -->
                <button type="submit" class="btn btn-primary" id="manual-challenge-button">Challenge</button>
            </div>

            <br><br>
            <!-- Put the following text in a fancy box -->
            <div class="center highlight-box">
                Don't find an opponent? Join our growing community on <a href="https://t.me/+xai22EEyZDplMjk0" target="_blank">Telegram</a> and find your perfect match there!
            </div>

        </form>

        <br>
    {% endif %}
</div>