{% load static %}

<div class="matchmaking-container" id="matchmaking-container">
    <script src="{% static 'matchmaking/js/join_matchmaking.js' %}"></script>
    <!-- Matchmaking -->
    <div class="matchmaking-grid" id="matchmaking-grid">
        <button class="time-control-button" onclick="joinMatchmaking(event, 1, 0, false);">
            <span class="time-duration">1 + 0</span>
            <span class="time-type">Bullet</span>
        </button>
        <button class="time-control-button" onclick="joinMatchmaking(event, 5, 3, false);">
            <span class="time-duration"> 5 + 3 </span>
            <span class="time-type"> Blitz </span>
        </button>
        <button class="time-control-button" onclick="joinMatchmaking(event, 10, 5, false);">
            <span class="time-duration">10 + 5</span>
            <span class="time-type">Rapid</span>
        </button>
        <!-- Add more buttons for other time controls -->
        <button class="time-control-button highlight-button" onclick="joinMatchmaking(event, 5, 3, true);">
            <span class="time-duration">5 + 3</span>
            <span class="time-type">Blitz (unrated)</span>
        </button>
    </div>
</div>